<!DOCTYPE html>
<html >
<head>
	<title>coder-camps-js</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap_theme.min.css">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>
	<h1>Welcome to the TV Shows!!!</h1>

	<div class='well container form-inline'>
		<input class='form-control' placeholder="title..." id='tvTitle'>
		<input class='form-control' placeholder="years..." id='tvYears'>
		<input class='form-control' placeholder="rating..." id='tvRating'>
		<button class='bt btn-lg btn-danger' onclick="saveTVShow()">Submit</button>
		<button type='button' class="btn  btn-lg btn-info" onclick='startDelete()'>Delete</button>
	</div>

<div id="buttonsGoHere" style="text-align:center">

</div>

	<ul id='tvShows'></ul>


	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
	      </div>
	      <div class="modal-body">
	        <label>Title</label>
					<input class="form-control" placeholder="Title..." id="editTitle"><br>
					<label>Years</label>
					<input class="form-control" placeholder="Years..." id="editYears"><br>
					<label>Rating</label>
					<input class="form-control" placeholder="Rating..." id="editRating"><br>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<span id='editSubmitButton'></span>
	      </div>
	    </div>
	  </div>
	</div>


	<script src="/javascript/app.js"></script>
	<script src="/jquery/dist/jquery.min.js"></script>
	<script src="/bootstrap/dist/js/bootstrap.min.js"></script>

	</script>

	</script>
</body>
</html>
